.movies {
  padding: 0;
  color: black;
  .movieList {
      list-style: none;
    .movieTitle {
      font-weight: bolder;
      margin: 20px 0;
    }
    .overview {
      font-weight: lighter;
    }
    .date {
      font-weight: lighter;
    }
  }
}
